<server description="HPE ARM Template File">
  <cors domain="/configurations/simple"
    allowedOrigins="portal.azure.com"
    allowedMethods="GET"
    allowCredentials="true"
    exposeHeaders="*"/>

<cors domain="/configurations/preflight"
    allowedOrigins="portal.azure.com"
    allowedMethods="OPTIONS, DELETE"
    allowCredentials="true"
    allowedHeaders="*"
    maxAge="10"/>
</server>
